html,
body {
  background: mintcream;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  border-left: 2px solid #00f29f;
  font-size: 50px;
  font-weight: 400px;
  padding-left: 20px;
  font-weight: 700;
}
.main {
  margin-top: 80px;
}
.form input {
  background: #F0F0F0;
  border: none;
  border-left: 2px solid #fff;
  font-size: 20px;
  padding: 20px;
  width: 100%;
  transition: background 2s, border-left 2s;
}
.form input:focus {
  background: #fff;
  border-left: 2px solid #000;
  box-shadow: none;
  outline: none;
}
.form button.btn {
  background: transparent;
  border: none;
  color: #00f28F;
  cursor: pointer;
  font-size: 36px;
  padding: 20px 24px;
  transition: background 2s, color 2s;
  outline: none;
}
.form button.btn:hover {
  background: #00f28f;
  color: #fff;
  outline: none;
}
.comments {
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
}
.comments li {
  padding-left: 20px;
  border-left: 2px solid #000;
  font-size: 36px;
  margin: 36px;
}
.icon {
  float: right;
  padding: 0 1rem;
  color: hotpink;
  transition: color 1s;
}
.icon:hover {
  color: #00F28F;
}
